.admission-container h3{
    margin: 40px 0 0 20px;
    font-size: 28px;
}
.admission-container h3{
    /* margin: 40px 0 0 20px; */
    font-size: 28px;
}
.admission-container p{
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    /* margin-top: 30px; */
    text-indent: 15px;
    padding: 0 20px;
}

.admission-container p b{
    font-size: 11px;
}
