.health-container{
    margin-top: 20px;
    width: 98%;
}

.single-health img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 200px;
}


@media screen and (max-width: 760px) {
    .single-health img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 500px;
    }
}