.weather__container{
    /* background-image: url('../../assets//weather.jpeg');  */
    /* background-image: url('../../assets/weather.avif');  */
    background-image: url('../../assets/weather.jpg'); 
    background-size: cover;
    /* background-color: skyblue; */
    height: 200px;
    padding: 20px 10px;
    text-align: center;
}

.location{
    font-size: 25px;
    color: white;
    font-weight: 600;
}